*{
  padding:0;
  margin:0;
  font-family:sans-serif;
}
body{
 background-color: #ededed;

}

.home {
  display: flex;
  flex-wrap: wrap;
  flex-wrap: wrap;
}
.in-flex{
  flex: 1;
  min-width: 250px;
  
}
.in-flex:first-child {
  flex: 2;
  padding: 25px;
  background-color: #fff;
  margin: 20px;
  margin-bottom: 0px;
  height: 680px;
}
.in-flex div {
  padding: 25px;
  background-color: #fff;
  margin: 20px;
}
h1{
  margin: auto;
  
  margin-top:200px;
}
.button{
  position: absolute;
  top: 50%;
  transform:translatey(-20%);
  text-decoration:none;
  background:#000;
  color:#fff;
  padding:20px 35px;
  font-size:20px;
}
#si{
  left: 20%;
  transform:translateY(-50%) translateX(-20%);
}
#no{
  left: 65%;
  transform:translateY(-50%) translateX(-20%);
}